/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* These are directives that allow the use of the base, components, and utilities styles in CSS. This is why the pages are styled. */

/* The base class  injects Tailwind's base styles and any base styles registered by plugins*/

/* The component class injects Tailwind's component classes and any component classes registered by plugins*/

/* The utilities class injects Tailwind's utility classes and any utility classes registered by plugins */

/* a layer is a directive in tailwind that allows you to alter the contents of any particular class that you have in your project */

.menu-button {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-green-500 {
  color: blue;
}
